<section class="container">
    <h2 class="block-heading">رزومه و سوابق</h2>
    <div class="accordion-wrapper">
        <div class="accordion">
            <header class="accordion__header">
                <h2 class="accordion__heading">سابقه کار</h2>
                <span>
            <i class="fas fa-chevron-circle-left"></i>
          </span>
            </header>
            <div class="accordion__content">
                <p>
                    ورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
                    استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله
                    در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد
                    نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
                </p>
            </div>
        </div>
        <div class="accordion">
            <header class="accordion__header">
                <h2 class="accordion__heading">سابقه تحصیلی</h2>
                <span>
            <i class="fas fa-chevron-circle-left"></i>
          </span>
            </header>
            <div class="accordion__content">
                <p>
                    ورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
                    استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله
                    در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد
                    نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
                </p>
            </div>
        </div>
        <div class="accordion">
            <header class="accordion__header">
                <h2 class="accordion__heading">زبان های مسلط</h2>
                <span>
            <i class="fas fa-chevron-circle-left"></i>
          </span>
            </header>
            <div class="accordion__content">
                <p>
                    ورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
                    استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله
                    در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد
                    نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
                </p>
            </div>
        </div>
    </div>
</section>