<section class="container block">
    <h2 class="block-heading">جوایز ویژه</h2>
    <div class="travell">
        <div class="travell__slides">
            <div class="travell__slide">
                <div class="slide__img">
                    <img src="./assets/images/travell.png" alt="travell image" />
                </div>
                <div class="slide__detail">
                    <div class="slide__header">
                        <span class="badge badge--primary">ویژه</span>
                        <p>اقامت رایگان &bull; سفر سه روزه</p>
                    </div>
                    <p class="slide__title">سفر به قلب کویر</p>
                    <div class="slide__icons">
                        <div>
                            <i></i>
                            <i></i>
                        </div>
                        <div>
                            <i></i>
                            <i></i>
                        </div>
                    </div>
                </div>
            </div>

            <div class="travell__slide">
                <div class="slide__img">
                    <img src="./assets/images/travell-2.jpg" alt="travell image" />
                </div>
                <div class="slide__detail">
                    <div class="slide__header">
                        <span class="badge badge--primary">ویژه</span>
                        <p>اقامت رایگان &bull; سفر سه روزه</p>
                    </div>
                    <p class="slide__title">سفر به قلب کویر</p>
                </div>
            </div>

            <div class="travell__slide">
                <div class="slide__img">
                    <img src="./assets/images/travell-3.jpg" alt="travell image" />
                </div>
                <div class="slide__detail">
                    <div class="slide__header">
                        <span class="badge badge--primary">ویژه</span>
                        <p>اقامت رایگان &bull; سفر سه روزه</p>
                    </div>
                    <p class="slide__title">سفر به قلب کویر</p>
                </div>
            </div>

            <div class="travell__slide">
                <div class="slide__img">
                    <img src="./assets/images/travell-4.jpg" alt="travell image" />
                </div>
                <div class="slide__detail">
                    <div class="slide__header">
                        <span class="badge badge--primary">ویژه</span>
                        <p>اقامت رایگان &bull; سفر سه روزه</p>
                    </div>
                    <p class="slide__title">سفر به قلب کویر</p>
                </div>
            </div>
        </div>
    </div>
</section>